@keyframes rotate-3d-in {
  0% {
    transform: rotateY(-180deg) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: rotateY(0deg) scale(1);
    opacity: 1;
  }
}

@keyframes rotate-3d-out {
  0% {
    transform: rotateY(-90deg) scale(1);
    opacity: 0;
  }
  100% {
    transform: rotateY(0deg) scale(1);
    opacity: 1;
  }
}
