.main-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  padding-top: var(--nav-space);
  padding-bottom: var(--nav-space);
}

.main-content {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 768px;
  height: 100%;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: var(--color-background);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  border-radius: var(--radius);
  background-color: transparent;
}

button:hover {
  background-color: var(--color-background);
}

.moon-icon {
  height: 1.6rem;
}

.speaker-icon {
  width: 2.3rem;
}

@media (max-width: 768px) {
  .main-content {
    padding: 0 0.5rem;
  }
}
