.main-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-background);
  padding-top: var(--nav-space);
}

.main-content {
  display: flex;

  width: 70vw;
  height: 100%;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background);
}

.theme-button {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
}

.speaker-button {
  width: 5rem;
  height: 4rem;
  padding: 0.5rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  border-radius: var(--radius);
  background-color: transparent;
}

button:hover {
  background-color: #362843;
}

.moon-icon {
  height: 1.6rem;
}

.speaker-icon {
  width: 2.3rem;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  height: var(--nav-space);
  width: 100vw;

  --tw-backdrop-blur: blur(4px);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

nav {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 80vw;
}
