::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

:root {
  --radius: 0.5rem;

  --color-primary: rgb(255 255 227 / var(--tw-text-opacity));
  --color-text-item: #e7d2f9;
  --color-hover-button: #362843;

  --color-background: hsl(0, 0%, 13%);
  --color-background-item: #ab66fd;
  --color-background-card: #06030a;

  --color-border: #909092;
  --color-border-shadow: #e7d2f9;
  --color-border-secondary: #362843;

  --color-grey: hsl(0, 0%, 60%);
  --color-violet: rgb(163 116 255 / var(--tw-text-opacity));
  --color-light-violet: rgb(231 210 249);

  --color-nav-gradient: #06030a;

  --color-icon: rgb(163 116 255 / var(--tw-text-opacity));

  --tw-text-opacity: 1;
  --tw-text-opacity: 1;
  --nav-space: 5rem;
  font-size: 16px;
}

.light {
  --color-primary: #3f3f46;
  --color-text-item: #909092;
  --color-hover-button: oklch(96.7% 0.001 286.375);

  --color-background: #fff;
  --color-background-item: #5f5e5e;
  --color-background-card: #cdcdcd4a;
  --color-background-card-item: #71717a;

  --color-border: hsl(0, 0%, 60%);
  --color-border-secondary: #e4e4e7;

  --color-grey: hsl(0, 0%, 60%);

  --color-light-violet: rgb(231 210 249);

  --color-nav-gradient: #fff;
  --color-nav-gradient: #fff;
}

* {
  font-family: "Manrope-Bold", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.text-primarytext {
  color: var(--color-primary);
}

.text-violet-text {
  --tw-text-opacity: 1;
  color: rgb(163 116 255 / var(--tw-text-opacity));
}

.border-bline {
  --tw-border-opacity: 1;
  border-color: rgb(50 50 40 / var(--tw-border-opacity));
}

.text-manrope {
  font-family: "Manrope";
}

@media (max-width: 768px) {
  :root {
    --nav-space: 4rem;
  }
}
