::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: hsl(0, 0%, 10%);
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

:root {
  --radius: 0.5rem;
  --color-background: hsl(0, 0%, 10%);
  --tw-text-opacity: 1;
  --color-light-violet: rgb(231 210 249);
  --nav-space: 7rem;
  font-size: 10px;
}

body {
  font-family: Tasa-Orb, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.text-primarytext {
  --tw-text-opacity: 1;
  color: rgb(255 255 227 / var(--tw-text-opacity));
}
