::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

:root {
  --radius: 0.5rem;
  --color-background: hsl(0, 0%, 13%);
  --color-grey: hsl(0, 0%, 60%);

  --tw-text-opacity: 1;
  --primary-color: rgb(255 255 227 / var(--tw-text-opacity));
  --tw-text-opacity: 1;
  --color-light-violet: rgb(231 210 249);
  --nav-space: 5rem;
  font-size: 16px;
}

* {
  font-family: "Manrope-Bold", sans-serif;
}

body {
  font-family: Tasa-Orb, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.text-primarytext {
  color: var(--primary-color);
}

.text-violet-text {
  --tw-text-opacity: 1;
  color: rgb(163 116 255 / var(--tw-text-opacity));
}

.border-bline {
  --tw-border-opacity: 1;
  border-color: rgb(50 50 40 / var(--tw-border-opacity));
}

.text-manrope {
  font-family: "Manrope";
}

@media (max-width: 768px) {
  :root {
    --nav-space: 4rem;
  }
}
