.nav {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  max-width: 768px;
  gap: 1rem;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10000;
  height: var(--nav-space);
  width: 100vw;
}

.theme-button {
  width: 3rem;
  height: 3rem;
}

.speaker-button {
  width: 3rem;
  height: 3rem;
}
