name: Deploy Vite App from v2

on:
  push:
    branches:
      - v2 # branch de la build

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: v2 # branch de la build

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Deploy to build branch
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: v2
          folder: dist
